.todo-list {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  padding: 1rem 0;


  .todo-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    border: 2px solid royalblue;
    border-radius: .5rem;
    padding: .5rem;
    align-items: center;
    background-color: #2a2e31;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);


    .todo-check {
      padding: .5rem;
    }

    .todo-title {
      font-size: 1.2rem;
      word-break: break-word;
      font-weight: 500;
      margin-bottom: .25rem;
    }

    .todo-date {
      font-size: .75rem;
      color: rgb(159, 159, 159);
    }
  }

  .todo-item.checked {
    border-color: rgb(120, 120, 120);
    .todo-title {
      text-decoration: line-through;
      color: rgb(161, 160, 160);
    }
  }
}
